<div class="page-container">
    <h1 class="page-title">Gerenciar Promoções</h1>

    <div *ngIf="statusMessage" class="toast" [ngClass]="statusType">
        {{ statusMessage }}
    </div>

    <section class="card-table-container">
        <div class="table-header-actions">
            <h2 class="card-title">Todas Promoções</h2>
            <div class="action-buttons">
                <button class="btn btn-secondary btn-icon" (click)="toggleFilters()"> Filtros </button>
                <button class="btn btn-primary btn-icon" (click)="openPromotionAddModal()">
                    Adicionar Promoção
                </button>
            </div>
        </div>
        <div class="table-wrapper">
            <table class="data-table">
                <thead>

                    <div *ngIf="statusMessage" class="toast" [ngClass]="statusType">
                        {{ statusMessage }}
                    </div>

                    <tr>
                        <th>Produto</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                        <th>Data de Início</th>
                        <th>Data de Término</th>
                        <th>Ações</th>
                    </tr>

                    <!-- Filters -->
                    <tr *ngIf="showFilters" class="filter-row">
                        <th><input type="text" placeholder="Filtrar produto" [(ngModel)]="filters.productId"
                                (input)="applyFilters()" />
                        </th>
                        <th>
                            <select [(ngModel)]="filters.type" (change)="applyFilters()">
                                <option value="">Todos</option>
                                <option value="FIXED_VALUE">Valor Fixo</option>
                                <option value="PERCENT">Porcentagem</option>
                            </select>
                        </th>
                        <th>
                            <input type="number" placeholder="Filtrar valor" [(ngModel)]="filters.value"
                                (input)="applyFilters()" />
                        </th>
                        <th>
                            <input type="date" placeholder="Filtrar data" [(ngModel)]="filters.startDate"
                                (input)="applyFilters()" />
                        </th>
                        <th>
                            <input type="date" placeholder="Filtrar data" [(ngModel)]="filters.endDate"
                                (input)="applyFilters()" />
                        </th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let promotion of promotionsPaginated">
                        <td>{{ productMap.get(promotion.productId) }}</td>
                        <td>{{ promotionTypeMap[promotion.type] }}</td>
                        <td>
                            <span *ngIf="promotion.type === 'FIXED_VALUE'">
                                {{ promotion.value | currency:'BRL':'symbol':'1.2-2' }}
                            </span>
                            <span *ngIf="promotion.type === 'PERCENT'">
                                {{ promotion.value }}%
                            </span>
                        </td>
                        <td>{{ promotion.startDate | date:'dd/MM/yyyy' }}</td>
                        <td>{{ promotion.endDate | date:'dd/MM/yyyy' }}</td>
                        <td>
                            <button class="btn-action edit" (click)="editPromotion(promotion)">Editar</button>
                            <button class="btn-action delete" (click)="deletePromotion(promotion.id)">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <div class="pagination" *ngIf="totalPages > 0">
            <span>Página {{ currentPage }} de {{ totalPages }}</span>

            <!-- Controls only appear if there is more than one page -->
            <div class="pagination-controls" *ngIf="totalPages > 1">
                <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">
                    Anterior
                </button>

                <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">
                    Próximo
                </button>
            </div>
        </div>
    </section>
</div>

<promotionForm *ngIf="showModal" [promotion]="selectedPromotion" (promotionCreate)="onPromotionCreate()"
    (promotionSaved)="onPromtionSaved()" (closeModal)="closePromotionAddModal()">
</promotionForm>