<div class="page-container">
  <h1 class="page-title">Inventário</h1>

  <section class="card-table-container">
    <div class="table-header-actions">
      <h2 class="card-title">Produtos</h2>
      <div class="action-buttons">
        <button class="btn btn-secondary btn-icon"> Filtros </button>
        <button class="btn btn-secondary btn-icon"> Download </button>
        <button class="btn btn-primary btn-icon" (click)="abrirModalAdicionarProduto()">
          Adicionar Produto
        </button>
      </div>
    </div>
    <div class="table-wrapper">
      <table class="data-table">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Preço/Compra</th>
            <th>Quantidade</th>
            <th>Estoque Mínimo</th>
            <th>Data Exp.</th>
            <th>Disponibilidade</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <td>{{ produto.name }}</td>
            <td>R$ {{ produto.price | number:'1.2-2' }}</td>
            <td>{{ produto.quantity }} Unid.</td>
            <td>{{ produto.qtoMinima }} Unid.</td>
            <td>{{ produto.validity | date:'dd/MM/yy' }}</td>
            <td>
              <span *ngIf="produto.quantity > produto.qtoMinima" class="status-tag status-tag-success">Em Estoque</span>
              <span *ngIf="produto.quantity <= produto.qtoMinima && produto.quantity > 0" class="status-tag status-tag-warning">Estoque Baixo</span>
              <span *ngIf="produto.quantity === 0" class="status-tag status-tag-danger">Fora de Estoque</span>
            </td>
            <td>
              <button class="btn-action edit">Editar</button>
              <button class="btn-action delete">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Paginação -->
    <div class="pagination">
      <span>Página 1 de 10</span>
      <div class="pagination-controls">
        <button class="btn btn-secondary">Anterior</button>
        <button class="btn btn-secondary">Próximo</button>
      </div>
    </div>
  </section>
</div>
<app-produto-form
  *ngIf="abrirModal"
  (closeModal)="fecharModalAdicionarProduto()"
>
</app-produto-form>