<div class="auth-container">
  <div class="auth-box">
    <div class="auth-logo">
      <h1 class="logo-text">HORTIFRUTI</h1>
    </div>
    <h2 class="auth-title">Cadastre-se</h2>
    <p class="auth-subtitle">Crie sua conta para começar</p>

    <form (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="name" class="form-label">Nome*</label>
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Digite seu nome"
          [(ngModel)]="name"
          name="name"
          required
        />
      </div>

      <div class="form-group">
        <label for="email" class="form-label">Email*</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Digite seu email"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Senha*</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Com uma senha"
          [(ngModel)]="password"
          name="password"
          required
        />
        <small class="form-text">Use pelo menos 8 caracteres.</small>
      </div>

      <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    </form>

    <p class="auth-redirect">
      Já possui uma conta? <a routerLink="/login" class="form-link">Faça Login</a>
    </p>
  </div>
</div>
