<div class="page-container">
  <h1 class="page-title">Fornecedores</h1>

  <section class="card-table-container">
    <div class="table-header-actions">
      <h2 class="card-title">Fornecedores</h2>
      <div class="action-buttons">
        <button class="btn btn-secondary btn-icon"> Filtros </button>
        <button class="btn btn-secondary btn-icon"> Download </button>
        <button class="btn btn-primary btn-icon" (click)="abrirModalAdicionarFornecedor()">
          Adicionar Fornecedor
        </button>
      </div>
    </div>

    <div class="table-wrapper">
      <table class="data-table">
        <thead>
          <tr>
            <th>Nome Fantasia</th>
            <th>Razão Social</th>
            <th>Contato</th>
            <th>Email</th>
            <th>Status</th>
            <th>Entregas Pendentes</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fornecedor of fornecedores">
            <td>{{ fornecedor.nomeFantasia }}</td>
            <td>{{ fornecedor.razaoSocial }}</td>
            <td>{{ fornecedor.telefone }}</td>
            <td>{{ fornecedor.email }}</td>
            <td>
              <span *ngIf="fornecedor.status === 'Ativo'" class="status-tag status-tag-success">Contrato Ativo</span>
              <span *ngIf="fornecedor.status === 'Bloqueado'" class="status-tag status-tag-danger">Bloqueado</span>
            </td>
            <td>{{ fornecedor.pendingDeliveries }}</td>
            <td>
              <button class="btn-action edit">Editar</button>
              <button class="btn-action delete">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Paginação -->
    <div class="pagination">
      <span>Página 1 de 10</span>
      <div class="pagination-controls">
        <button class="btn btn-secondary">Anterior</button>
        <button class="btn btn-secondary">Próximo</button>
      </div>
    </div>
  </section>
</div>

<app-fornecedor-form
  *ngIf="showModal"
  (closeModal)="fecharModalAdicionarFornecedor()"
>
</app-fornecedor-form>

